/* item bg={isActive ? 'blue.6' : hovered ? 'gray.2' : 'transparent'} */
.item {
  background: transparent;
}

.item:hover {
  background: var(--mantine-color-blue-light-hover);
}

.item_active {
  background: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-8));
}

.text {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.text_active {
  color: var(--mantine-color-white);
}
