.item {
  background: transparent;
}

.item:hover {
  background: var(--mantine-color-blue-light-hover);
}

[data-active='true'].item {
  background: var(--mantine-color-blue-6);
}

.text {
  color: var(--mantine-color-black);
}

[data-active='true'] .text {
  color: var(--mantine-color-white);
}

[data-mantine-color-scheme='dark'] [data-active='true'].item {
  background: var(--mantine-color-blue-8);
}

[data-mantine-color-scheme='dark'] .text {
  color: var(--mantine-color-white);
}
